<h1>TASKS</h1>


<table>
  <th>Task</th>
  <th>Details</th>
  <th>Status</th>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task_path(task) %></td>
      <td><%= task.details %></td>
      <td><%= task.completed %></td>
      <td><%= link_to "edit", edit_task_path(task) %> | <%= link_to "delete", task_path(task), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add new task', new_task_path %>
